extends layout

block content
  h1= title
  #tabel-emas
    table
      thead
        th Nama Produk
        th Jual
        th Beli
      tbody
        tr.antamgold
          td Antam Gold
          td 477,000
          td 474,500
        tr.anekalogam
          td Aneka Logam
          td 477,000
          td 474,500
        tr.emas24karat
          td Emas 24 Karat
          td 477,000
          td 474,500
        tr.goldgram
          td Goldgram
          td 477,000
          td 474,500