extends layout

block content
  h1= title
  #tabel-emas
    table
      thead
        th Nama Produk
        th Jual
        th Beli
      tbody
        tr
          td Logam Mulia
          td 477,000
          td 474,500
        tr
          td LM King Halim 99.99%
          td 477,000
          td 474,500
        tr
          td UBS Gold 99.99%
          td 477,000
          td 474,500
        tr
          td Emas 99.5%
          td 477,000
          td 474,500