extends layout

block content
  h1= title
    span.desc= desc
  #tabel-emas
    table
      thead
        th Nama Produk
        th Jual
        th Beli
      tbody
        tr.antamgold
          td
            a(href="http://www.antamgold.com", target="_blank") Antam Gold
          td
            span.currency Rp&nbsp;
            span.price 477,000
          td
            span.currency Rp&nbsp;
            span.price 475,000
        tr.anekalogam
          td
            a(href="http://www.antamgold.com", target="_blank") Aneka Logam
          td
            span.currency Rp&nbsp;
            span.price 477,000
          td
            span.currency Rp&nbsp;
            span.price 475,000
        tr.emas24karat
          td
            a(href="http://www.antamgold.com", target="_blank") Emas 24 Karat
          td
            span.currency Rp&nbsp;
            span.price 477,000
          td
            span.currency Rp&nbsp;
            span.price 475,000
        tr.goldgram
          td
            a(href="http://www.antamgold.com", target="_blank") Goldgram
          td
            span.currency Rp&nbsp;
            span.price 477,000
          td
            span.currency Rp&nbsp;
            span.price 475,000