doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      block content
      #footer
        a(href="http://www.zufrizalyordan.com", target="_newtab") zy