/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Segoe ui", Helvetica, Arial, sans-serif;
  background-color: #E9E9E9;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:hover {
  color: #111;
}

#container {
  width: 500px;
  margin: 50px auto;
  box-shadow: 0 27px 10px 5px #CACACA;
}

#tabel-emas {
  margin-top: 20px;
  text-shadow: 1px 2px  1px #FFF;
}

#tabel-emas table{
  width: 100%;
}

#tabel-emas table thead th {
  text-align: left;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 0.75em;
  padding: 8px 10px;
  border: 1px solid #D9D9D9;
  background: rgb(254,254,254);
  background: rgb(254,254,254);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(244,244,244,1) 49%, rgba(237,237,237,1) 50%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(49%,rgba(244,244,244,1)), color-stop(50%,rgba(237,237,237,1)), color-stop(100%,rgba(226,226,226,1)));
background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(244,244,244,1) 49%,rgba(237,237,237,1) 50%,rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(244,244,244,1) 49%,rgba(237,237,237,1) 50%,rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(244,244,244,1) 49%,rgba(237,237,237,1) 50%,rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(244,244,244,1) 49%,rgba(237,237,237,1) 50%,rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );


}

#tabel-emas td{
  padding: 20px 15px;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #F7F7F7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQ4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.33) 31%, rgba(255,255,255,0.21) 56%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.48)), color-stop(31%,rgba(255,255,255,0.33)), color-stop(56%,rgba(255,255,255,0.21)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.48) 0%,rgba(255,255,255,0.33) 31%,rgba(255,255,255,0.21) 56%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.48) 0%,rgba(255,255,255,0.33) 31%,rgba(255,255,255,0.21) 56%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.48) 0%,rgba(255,255,255,0.33) 31%,rgba(255,255,255,0.21) 56%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.48) 0%,rgba(255,255,255,0.33) 31%,rgba(255,255,255,0.21) 56%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affffff', endColorstr='#00ffffff',GradientType=0 );
}

#footer {
  float: left;
  width: 480px;
  background: #333;
  padding: 5px 10px 8px;
  border-radius: 0 0 5px 5px;
}
#footer a {
  float: right;
  font-size: 0.8em;
}

h1 {
  font-size: 1.5em;
  text-transform: capitalize;
  background: #333;
  margin: 0;
  float: left;
  width: 480px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  color: goldenrod;
  text-shadow: 1px 1px 1px #3B3B3B;
}

.price, .currency {
  font-family: "Helvetica";
}

.desc {
  margin-left: 5px;
  font-size: 0.7em;
  color: #888;
}

.price{
  font-weight: bold;
}

.currency {
  font-size: 0.78em;
}

#tabel-emas tr.goldgram td {
  border-bottom: 1px solid #E2E2E2;
}